<?xml version="1.0"?>

<launch>

	<include file="$(find nav_bgu)/launch/rtabmap/rtabmap.launch">
		<arg name="localization"  	value="true" />
   		<arg name="database_path" 	value="~/3D_maps/rtabmap.db" />
		<arg name="rtabmapviz"		value="false" />
		<arg name="rviz" 		value="true" />
	</include>

</launch>
