<?xml version="1.0"?>

<launch>

	<!--<include file="$(find rtabmap_ros)/launch/rtabmap.launch">-->
	<include file="$(find nav_bgu)/launch/rtabmap/rtabmap.launch">
<!--		<arg name="database_path" value="~/catkin_ws/src/nav_bgu/map/3D/rtabmap.db" />		-->

		<arg name="rtabmapviz" value="true" />
		<arg name="rviz" value="false" />
	</include>

</launch>
